.counterItem-block {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

.counter-image {
  transform: scale(0.6);
}

.counter-number {
  color: var(--green);
  font-size: 42px;
  font-weight: bold;
}

.counter-number,
.counter-textDes {
  margin: 0;
}

.counter-textDes {
  color: #fff;
  font-size: 1rem;
}
