.slider-block {
  height: 632px;
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(0, 54, 74, 0.6), rgba(0, 54, 74, 0.7)),
    url("../images/hero-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: -32px;
}
